.bg-light{
    background: #e4e4e4;
    margin-top: 0;
  }
  
  .bg-dark{
    background: #282c34;
    color: white;
    text-align: center;
  }

  .toggle{
    background-color: goldenrod;
    border: 1px solid gold;
  }